<?xml version="1.0"?>
<psalm
        errorLevel="1"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="https://getpsalm.org/schema/config"
        xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
        xmlns:xi="http://www.w3.org/2001/XInclude"
>
    <xi:include href="vendor/alphpaca/coding-standard/psalm_files.xml"/>
    <xi:include href="vendor/alphpaca/coding-standard/psalm_file_extensions.xml"/>
    <xi:include href="vendor/alphpaca/coding-standard/psalm_plugins.xml"/>
</psalm>
